<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title text-center">Inicia sesión</h3>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <form method="post" action="/autenticar" id="form-login">
            
            <div class="form-group">
              <label class="sr-only" for="email"></label>
              <div class="input-group">
                <div class="input-group-addon">
                  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                </div>
                <input type="email" class="form-control" id="email" name="email" placeholder="correo@ejemplo.com">
              </div>
            </div>
            
            <div class="form-group">
              <label class="sr-only" for="password"></label>
              <div class="input-group">
                <div class="input-group-addon">
                  <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                </div>
                <input type="password" class="form-control" id="password" name="password" placeholder="Ingresa tu contraseña">
              </div>
            </div>

            <input type="submit" class="btn btn-primary btn-block" value="Entrar">
          </form>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <p><a href="/recuperar">¿Olvidaste tu contraseña?</a></p>
          <p><a href="/signup">Regístrate</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
